<!DOCTYPE html>
<html>
<head>
    <title>Concert Tickets</title>
</head>
<body>

    <h1>Concert Tickets</h1>

    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>

</body>
</html>