<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="form-card card">
    <h1>Register</h1>

    <form action="/register" method="POST">

        <div class="form-group">
            <label>Username</label>
            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >
        </div>

        <div class="form-group">
            <label>Email</label>
            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >
        </div>

        <div class="form-group">
            <label>Parolă</label>
            <input
                type="password"
                name="password"
                placeholder="Parolă"
                required
            >
        </div>

        <button class="btn btn-primary" type="submit">
            Register
        </button>

    </form>

    <br>

    <a href="/login">Ai deja cont? Login</a>
</div>

</body>
</html>