<!DOCTYPE html>
<html>
<head><title><%= comic.titlu %> - Detalii</title></head>
<body>
    <h1>Detalii Serie</h1>
    <hr>
    <h2>Titlu: <%= comic.titlu %></h2>
    <p><strong>Autor:</strong> <%= comic.autor %></p>
    <p><strong>Gen:</strong> <%= comic.gen %></p>
    
    <br>
    <a href="/biblioteca">← Înapoi la listă</a>
</body>
</html>