<!DOCTYPE html>
<html style="background-color: <%= tema === 'dark' ? '#333' : '#FFF' %>; color: <%= tema === 'dark' ? '#FFF' : '#000' %>;">
<head><title>Acasă - ComicSphere</title></head>
<body>
    <h1>Bine ai venit pe ComicSphere!</h1>
    <p>Rețeaua socială a pasionaților de benzi desenate și manga.</p>
    
    <hr>
    
    <% if (user) { %>
        <p>Ești logat ca <strong><%= user.email %></strong>.</p>
        <a href="/biblioteca"><button>Mergi la Biblioteca ta</button></a>
        <a href="/logout"><button>Deconectare</button></a>
    <% } else { %>
        <p>Nu ești logat.</p>
        <a href="/login"><button>Autentificare (Login)</button></a>
        <a href="/register"><button>Creare Cont (Register)</button></a>
    <% } %>
</body>
</html>