<!DOCTYPE html>
<html>
<head><title>Register - ComicSphere</title></head>
<body>
    <h2>Creează un cont nou</h2>
    <form action="/register" method="POST">
        <label>Email: <input type="email" name="email" required></label><br><br>
        <label>Parolă: <input type="password" name="password" required></label><br><br>
        <label>Alege tema aplicației (Cookie): 
            <select name="preferintaTema">
                <option value="light">Luminos</option>
                <option value="dark">Întunecat</option>
            </select>
        </label><br><br>
        <button type="submit">Înregistrare</button>
    </form>
</body>
</html>